* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.panel {
    height: 50px;
    font-size: 30px;
    font-weight: 700;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.board__item {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
    transition: all 0.05s linear;
    position: relative;
}

.board__item:hover {
    background-color: #bbb;
}

.board__item--filled-X::before, .board__item--filled-X::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: red;
}

.board__item--filled-X::before {
    transform: translateY(-50%) rotate(-45deg);
}

.board__item--filled-X::after {
    transform: translateY(-50%) rotate(45deg);
}

.board__item--filled-O::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 5px solid blue;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.05s linear;
}

.reset-button:hover {
    background-color: #ddd;
}